<span style='color: #000' title='Frames'>   212</span><span style='color: #009' title='Memory'>  63744.00 KB</span><span style='color: #900' title='Time'>   1160.30 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />