/*
Theme Name:   	LipoSales
Theme URI:    	https://github.com/stuartduff/storefront-child-theme
Author:       	Centaur Dev
Author URI:     https://www.centaurmarketing.co/
Template:     	storefront
Description:  	This is a blank child theme for WooThemes StoreFront theme
Version:      	1.0.0
*/
/*
 * Add your own custom css below this text.
 */

/**
 * BASE STYLES
 */

/*
 * FONTS
 */
@font-face {
  font-family: 'FuturaStd-Medium';
  font-display: auto;
  src: url('fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),  
	   url('fonts/FuturaStd-Medium.woff') format('woff'), 
	   url('fonts/FuturaStd-Medium.ttf')  format('truetype'), 
	   url('fonts/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* General */ 
html {
	font-family: "FuturaStd-Medium"!important;
	font-size: 16px;
}

body {
	font-size: 100%;
	color: #231f20;
	letter-spacing: 1px;
}


/* Typography */
h1,
h2,
h3,
h4 {
	font-family: "FuturaStd-Medium"!important;
	font-weight: 700;
	letter-spacing: 1px!important;
	text-align: center;
}

h1 {
	display: inline-block;
	font-size: 2.625rem!important;
	text-transform: uppercase;
}

h2 {
	color: #0b6cb4;
	font-size: 2rem!important;
	letter-spacing: 2px!important;
}

h3 {
	font-size: 1.5rem!important;
}

.woocommerce-loop-category__title,
.why-us-contain p,
h4 {
	font-size: 1.125rem!important;
}

a,
p,
input,
.buttons,
.centaur-label {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

article p {
	text-align: justify;
}

small,
.caption,
.widget_shopping_cart_header p,
.centaur-label,
.sub-menu .form-login .register > a {
	font-size: 0.75rem;
}

.section-header {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.text-center,
.cart-empty,
.return-to-shop {
	text-align: center;
}


/* Animation */
.site-header,
.button,
.buttons,
.product,
.woocommerce-product-gallery .flex-control-thumbs li {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Box Shadows */
.sub-menu .form-login,
.widget_shopping_cart,
.dropshadow-blue,
.menu-item-484 .sub-menu.active {
	-webkit-box-shadow: 0px 2px 20px 0px rgba(0,106,181,0.42)!important;
	-moz-box-shadow: 0px 2px 20px 0px rgba(0,106,181,0.42)!important;
	box-shadow: 0px 2px 20px 0px rgba(0,106,181,0.42)!important;	
}

/* Colors */
.bg-light {
	background: #fff;
}

.bg-grey {
	background: #efefef;
}

.outline-white {
	border-color: #fff;
}

.outline-default {
	border-color: #1db5ea;
}

.outline-disabled {
	border-color: #231f20;
}

.outline-alert {
	border-color: #ed254e;
}

.wpmc-nav-wrapper .button,
.gradient-test { /* FF3.6-15 */
	background: -webkit-linear-gradient(rgba(29,181,234,1) 0%, rgba(23,155,215,1) 35%, rgba(11,108,180,1) 100%);
	background: -o-linear-gradient(rgba(29,181,234,1) 0%, rgba(23,155,215,1) 35%, rgba(11,108,180,1) 100%);
	background: linear-gradient(rgba(29,181,234,1) 0%, rgba(23,155,215,1) 35%, rgba(11,108,180,1) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1db5ea', endColorstr='#0b6cb4',GradientType=0 ); /* IE6-9 */
}

.woocommerce-Price-amount.amount,
h1,
.gradient-text {
	background: -moz-linear-gradient(left, rgba(11,108,180,1) 0%, rgba(23,155,215,1) 65%, rgba(29,181,234,1) 100%) ; /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(11,108,180,1) 0%,rgba(23,155,215,1) 65%,rgba(29,181,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(11,108,180,1) 0%,rgba(23,155,215,1) 65%,rgba(29,181,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b6cb4', endColorstr='#1db5ea',GradientType=1 ); /* IE6-9 */
}

h1,
.gradient-text,
.gradient-icon,
.woocommerce-Price-amount.amount{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-border {
	border-top: 2px solid rgba(11,108,180,1);   
	border-bottom: 2px solid rgba(23,155,215,1);

    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(rgba(11,108,180,1)), to(rgba(23,155,215,1))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, rgba(11,108,180,1), rgba(23,155,215,1)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, rgba(11,108,180,1), rgba(23,155,215,1)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(bottom, rgba(11,108,180,1), rgba(23,155,215,1)) 1 100%;
    border-image:
      linear-gradient(to top, rgba(11,108,180,1), rgba(23,155,215,1)) 1 100%;

	border-style: solid;
	border-width: 2px;

}

.text-alert {
	color: #ed254e;
}

.text-disabled {
	color: #869093;
}

.text-white {
	color: #ffffff!important;
}


/* Buttons, Links and Navigation */
.wpmc-nav-wrapper .button,
.buttons {
	border-radius: 50px;
	display: inline-block;
	margin: 20px 0px;
	position: relative;
	text-transform: uppercase;
	z-index: 2;
}

.wpmc-nav-wrapper .button,
.buttons:not(.btn-paddding-auto) {
	padding: 15px 25px!important;
}


.buttons:before {
	content: "\f182";
	margin-right: 15px;
    font: normal normal normal 16px/1 LineAwesome;
    font-size: 18px;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	vertical-align: baseline;
}

.buttons.button-large {
	border-radius: 60px;
	font-size: 1.125rem;
	padding: 18px 30px;
}

.buttons.button-outline {
	background: transparent;
	border-style: solid;
	border-width: 2px;
}

.buttons.button-light {
	background: #fff;
	color: #1db5ea!important;
}

.wpmc-nav-wrapper .button:hover,
.buttons:hover {
	-webkit-box-shadow: 0px 3px 8px 0px rgba(29,181,234,0.58);
	-moz-box-shadow: 0px 3px 8px 0px rgba(29,181,234,0.58);
	box-shadow: 0px 3px 8px 0px rgba(29,181,234,0.58);
	color: #fff;
}

.is-link {
	color: #0b6cb4;
	text-decoration: none;
}

.is-link:hover,
.is-link:active,
.site-footer .menu-item > a:hover,
.site-footer .menu-item > a:active {
	color: #1db5ea;
/*	font-size: 1.125rem;*/
	text-decoration: underline; 
}

/* Border, Margins and Paddings */
.no-border {
	border: 0;
}

.no-space {
	margin: 0;
	padding: 0;
}

.pad-10 {
    padding:10px;
}
.product .price {
	padding: 10px 0 10px;
}

.mar-b-10 {
	margin-bottom: 10px;
}

.mar-t-20 {
	margin-top: 20px;
}

/* Dimensions */
.full-width {
	width: 100%;
}

/**
 * ADD CUSTOM STYLING HERE
 * 
 */

/**
 * I. COMPONENTS
 *
 * I.A. Dropdown
 */
.menu-secondary-container .menu-item-has-children {
	position: relative;
}

.menu-secondary-container .sub-menu {
	left: 0;
	position: absolute;
	top: 34px;
	z-index: 99999;
}

/*
 * I.B. Login and Shopping Cart Dropdown 
 */
.widget_shopping_cart,
.sub-menu .form-login,
.menu-item-484 .sub-menu.active {
	background: #fff;
	border-radius: 15px!important;
	width: 300px!important;
}

.menu-item-484 .sub-menu.active {
	width: initial!important;
}

.menu-item-484 .sub-menu li a {
	background: #fff!important;
}

.menu-item-484 .sub-menu li a:hover,
.menu-item-484 .sub-menu li a:active,
.main-navigation .menu .sub-menu li a:hover,
.main-navigation .menu .sub-menu li a:active {
	background: #fefefe!important;
}

.widget_shopping_cart_header,
.sub-menu .form-login .form-header,
.menu-item-484 .sub-menu li:first-child,
.menu-item-484 .sub-menu li:first-child > a {
	border-radius: 15px 15px 0 0;
}

.menu-item-484 .sub-menu li:last-child,
.menu-item-484 .sub-menu li:last-child > a {
	border-radius: 0 0 15px 15px;
}

.widget_shopping_cart_header,
.sub-menu .form-login .form-header {
	padding: 10px;
}

.menu-item-484 .sub-menu.active:before,
.widget_shopping_cart_header:before,
.sub-menu .form-login .form-header::before {
    content: "";
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fafafa;
    position: absolute;
    top: -10px;
    left: 45px;
    z-index: 9999;
}

.widget_shopping_cart_header:before {
	left: unset;
	right: 45px;
}

.menu-item-484 .sub-menu.active:before {
	left: 25px;
}

.widget_shopping_cart_header {
	border-bottom: 2px solid #efefef;
}

.widget_shopping_cart .buttons,
.sub-menu .form-login .buttons {
	margin: 10px 0;
	text-align: center;
	width: 100%;
}

.sub-menu .form-login .register {
	border-top: 1px solid #efefef;
	padding: 10px 0;
	text-align: center;
}

.sub-menu .form-login .register > a {
	color: #0b6cb4;
	display: initial;
	padding: 0;
}

.sub-menu .form-login .register > a:hover {
	color: #1db5ea;
	text-decoration: underline;
}

.widget_shopping_cart .woocommerce-mini-cart-item {
	background: #efefef;
	border-bottom: 1px solid #fff;
	display: flex;
}

.woocommerce-mini-cart-item > a:first-child {
	width: 90%;
}

.woocommerce-mini-cart-item > a:last-child {
	position: relative;
	width: 10%;
}

a.remove::before {
	color: #0b6cb4;
}

.widget_shopping_cart_header p {
	font-weight: bold;
	margin: 5px 0;
}

.sub-menu .woocommerce-form-login .lost_password a {
	float: none!important;
}

.sub-menu .woocommerce-form-login .lost_password,
.sub-menu .form-login .register {
	margin: 0!important;
}

.sub-menu .woocommerce-form-login .form-row {
	margin-top: 0 0 15px;
}

/**
 * I.C. Product per page
 */
.centaur-select .fa {
	padding: 8px 2px;
}

/**
 * I.D. Add to Cart Modal
 */
.centaur-modal .centaur-container {
	min-width: 0!important;
	width: 100%;
}

.centaur-modal .centaur-title {
	font-size: 0.875rem!important;
	font-weight: bold!important;
	width: 89%;
}

.centaur-modal .centaur-title .fa {
	display: none;
}

.centaur-header #centaur-modal-close {
	padding: 0 10px;
}

.centaur-thumb img {
	height: 100px;
	margin: 0 auto;
	width: auto;
}

#centaur-remove-item {
	border-radius: 50px;
	height: initial;
	padding: 5px 10px;
	position: initial;
	width: initial;
}

#centaur-remove-item:before {
	content: 'Remove this Item';
	margin-right: 10px;
}

.centaur-modal .buttons {
	margin: 5px 0;
	padding: 10px 15px!important;
	text-align: center;
	width: 100%;
}


/*
 * II. Containers/Sections
 *
 * II.A. Product
 */

ul.products li.product .woocommerce-LoopProduct-link {
	height: 100%;
	/*min-height: 420px;*/
}

.related ul.products li.product .woocommerce-LoopProduct-link {
	min-height: 320px;
}

ul.products li.product .price {
	/*position: absolute;*/
	bottom: 0;
}

.products {
	min-height: 100%!important;
}

.products .product {
	border: 2px solid #efefef;
	position: relative;
	text-align: center;
}

.products .product:hover {
	border-color: transparent;
}

.product-category:hover {
	border: 0;
	cursor: pointer;
}

/*.products .product .woocommerce-loop-product__title {*/
/*	height: 60px !important;*/
/*}*/

.products .related .product .woocommerce-loop-product__title {
	height: 50px;
}

.products .product .price {
	/*bottom: 0;*/
	color: #0b6cb4!important;
	font-size: 1.125rem;
	font-weight: 700!important;
	text-align:left;
	margin: 0!important;
	/*position: absolute;*/
	/*right: 0;*/
	width: 100%;
}

.products .product .price .label {
	color: #231f20!important;
}

.storefront-featured-products,
.related {
	padding: 20px 0!important;
	position: relative;
}

.storefront-featured-products:before,
.related:before {
	width: 95%!important;
}

.storefront-featured-products:after,
.related:after {
	width: calc(95% - 4px )!important;
}

.products .product {
	margin: 9px 0!important;
}

.products .product:nth-child(odd) {
	margin-right: 5px!important;
	margin-left: 12px!important;
}

.products .product:nth-child(even) {
	margin-left: 5px!important;
	margin-right: 12px!important;
}

.added_to_cart.wc-forward {
	display: none!important;
}

.woocommerce-product-gallery > .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image {
	border: 2px solid #fefefe;
	border-radius: 25px;
	padding: 10px;
}

.woocommerce-product-gallery .flex-control-thumbs li {
	border: 2px solid #efefef;
}

.woocommerce-product-gallery .flex-control-thumbs li:hover {
	border: none;
}

.woocommerce-product-gallery__wrapper {
	padding: 20px;
}

/*
 * II.B. Headers
 */
.woocommerce-products-header {
	padding: 0!important;
}

/**
 * II.C CART
 */
table.cart,
.wc-proceed-to-checkout,
.hentry {
	margin-bottom: 0!important;
}

.woocommerce-form-login p.form-row .buttons {
	width: 100%!important;
}

/**
 * II.D. Checkout
 */
.woocommerce-form-login .form-actions {
	overflow: hidden;
	clear: both;
}

.wc_payment_methods {
	display: none;
}

/**
 * II.D. Why Us
 */
.why-us-contain i,
.why-us-contain p {
	display: block;
	text-align: center;
	width: 100%;
}

/**
 * II.E. FOOTER
 */
.site-footer {
	margin-bottom: 50px;
}


#ship-to-different-address label {
	text-align: right;
}

#ship-to-different-address label > span {
	margin-right: 20px;
}

.footer-primary .menu-item > a {
	color: #fff!important;
}

.footer-secondary .menu-item > a {
	font-weight: bold;
}

/**
 * 
 */
@media screen and (min-width: 970px) {

	h1,
	h2,
	h3,
	h4,
	article p {
		text-align: left;
	}

/*	.site {
		height: 100%;
	}
*/
	.site-content {
		min-height: calc(100vh - 460px);
	}/**/

	.product {
		margin: 9px!important;
		text-align: left!important;
	}

	.product .price {
		width: initial;
	}

/*	.storefront-featured-products:before {
		width: 80%!important;
	}

	.storefront-featured-products:after {
		width: calc(80% - 4px )!important;
	}
*/

	.woocommerce-cart .actions,
	.wc-proceed-to-checkout {
		text-align: right!important;
	}

	.woocommerce-form-login p.form-row {
		display: inline!important;
	}


	.woocommerce-form-login p.form-row {
		margin: 0;
		text-align: right!important;
	}

	.woocommerce-form-login p.form-row .buttons {
		width: initial!important;
	}
	
	.sub-menu .woocommerce-form-login p.form-row .buttons {
		width: 100%!important;
	}

	.site-footer {
		margin-bottom: 0;
	}

	.sticky-header > header,
	.main-navigation .menu .sub-menu {
		-webkit-box-shadow: 0px 3px 10px 0px rgba(34,34,34,0.28);
		   -moz-box-shadow: 0px 3px 10px 0px rgba(34,34,34,0.28);
				box-shadow: 0px 3px 10px 0px rgba(34,34,34,0.28);
	}

	.sticky-header > header {
		padding: 10px 0 38px;
	}

	.centaur-modal .centaur-title {
		font-size: 1.5rem!important;
		font-weight: initial!important;
	}

	.centaur-modal .centaur-title .fa {
		display: inline-block;
	}

	.centaur-modal .buttons {
		margin: 20px 10px;
		padding: 15px 25px!important;
		width: initial;
	}

	#centaur-remove-item:before {
		content: '';
		margin-right: 0;
	}

	#centaur-remove-item {
		border-radius: 50%;
		height: 30px;
		padding: 5px;
		width: 30px;
	}

	.return-to-shop {
		text-align: right; 
	}

	.single-product .product .cart .product-container,
	.cart-empty,
	.return-to-shop,
	.woocommerce-ResetPassword .text-center  {
		text-align: left!important;
	}

	.woocommerce-product-gallery__wrapper {
		padding: 5px;
	}

	.woocommerce-checkout-payment .form-actions .column,
	.woocommerce-form-login .form-actions .column {
		float: right;
	}

	.woocommerce-checkout-payment .form-actions .column:last-child,
	.woocommerce-form-login .form-actions .column:last-child {
		float: left;
	}

	.woocommerce-form-login .form-actions .column:last-child .buttons {
		min-width: 230px;
	}

}

@media screen and (max-width: 768px) {

	#ship-to-different-address {
		font-size: 1.125rem!important;
		margin: 10px auto;
		width: fit-content;
	}

	#ship-to-different-address span {
		margin-left: 0px;
	}

	#customer_login {
		text-align: center!important;
	}

	#customer_login .u-column2.col-2 h2 {
		padding-top: 20px!important;
	}

	#customer_login .u-column2.col-2 .buttons {
		width: 100%;
	}

	.related > h2 {
		margin: 0 auto;
		width: 90%;
	}
	
	.products .product .price{
	    text-align:center;
	}
	
	
	.hero-contain .buttons::before{
	       display:none;
	}

	/*.tp-parallax-wrap {*/
	/*	top: 0px!important;*/
	/*}*/

	/*#slide-1-layer-1 {*/
	/*	min-height: 280px!important;*/
	/*	max-height: 280px!important;*/
	/*}*/

	/*.tp-parallax-wrap h2 {*/
	/*	line-height: initial!important;*/
	/*	height:80px!important;*/
	/*	margin-top: 50px;*/
	/*	width: 100px;*/
	/*}*/

	/*.tp-parallax-wrap p {*/
	/*	display: none;*/
	/*}*/

	/*.tp-parallax-wrap .buttons {*/
	/*	font-size: initial!important;*/
	/*}*/

	.form-actions .column,
	.wpmc-nav-wrapper .buttons,
	.woocommerce-form-login .form-actions .column {
		text-align: center;
	}

	.form-actions .column:last-child,
	.woocommerce-form-login .form-actions .column:last-child {
		border-top: 1px solid #cccccc; 
		margin-top: 15px;
	}

	.form-actions .column .buttons,
	.woocommerce-form-login .form-actions .column:last-child .buttons,
	.wpmc-nav-wrapper > div,
	.wpmc-nav-wrapper .buttons, .wpmc-nav-wrapper .button {
		width: 100%;
	}

	.centaur-table td {
		padding: 10px!important;
	}

	table.cart .product-thumbnail img {
		max-width: 90%!important;
	}

	.storefront-full-width-content.woocommerce-checkout table .product-name {
		width: 130px;
	}

	.storefront-full-width-content.woocommerce-checkout table td,
	.storefront-full-width-content.woocommerce-checkout table th {
		padding: 0.5em!important;
	}

	.storefront-full-width-content.woocommerce-checkout table .cart-subtotal td,
	.storefront-full-width-content.woocommerce-checkout table .cart-subtotal th {
		border-top: 1px solid #edeff2;
	}

	.related ul.products li.product .woocommerce-LoopProduct-link,
	ul.products li.product .woocommerce-LoopProduct-link {
		min-height: 240px!important;
	}

	article .entry-header {
		text-align: center;
	}

}

@media screen and (max-width: 768px){
    
    
}

.widget .quantity {
	float: right;
}

.hentry .entry-content a:not(.button){
	text-decoration: none !important;
}

.product .star-rating{
	width: 6.3em;
}

