.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a{
    font-size:14px !important;
}


.single-product .woocommerce-tabs .tabs li:hover a, 
.single-product .woocommerce-tabs .tabs .active a,
.tp-caption.tp-resizeme.gradient.gradient-text, 
.la.gradient-test,
.woocommerce-Price-amount.amount, h1, .gradient-text{
    color:#0b6cb4 !important;
    background:transparent;
}


@media all and (min-width: 768px) {
    
    
    .home .page-template-template-fullwidth-php .site-main ul.products.columns-3 li.product,
    .home .page-template-template-homepage-php .site-main ul.products.columns-3 li.product,
    .home .storefront-full-width-content .site-main ul.products.columns-3 li.product,
    .home .site-main ul.products.columns-3 li.product, 
    .home .site-main .reset ul.products li.product,
    .home .site-main ul.products.columns-4 li.product{
        
        width:30.43% !important;
        
    }

}