
.gradient-text, .gradient-icon, 
.widget .widget-title, 
.widget .widgettitle, 
.product_title, 
.related h2, 
.up-sells h2, .single-product 
.product .price .amount, 
.woocommerce-tabs .tabs .active a, 
.woocommerce-tabs .tabs li:hover a, 
.archive #secondary .widget .widget-title,
.xoo-cp-atcn, .woocommerce-cart .entry-title, 
.woocommerce-checkout .entry-title,
.woocommerce-edit-address .title a.edit::before{
	color: rgb(0, 106, 181);
	background: transparent !important;
}

.woocommerce-form-login p.woocommerce-form-row::after{
	top: 10px;
}

.woocommerce-form-login p.woocommerce-form-row .error-message{
	left: 0;
}

.subscribe-submit input{
	padding: 7px 45px 15px 20px !important;
}


.single-product div.product table.variations td{
	width: 100%;
	float: left;
 }
 #reviews .commentlist li .comment_container .comment-text .star-rating{
 	height: 4em;
 }

 .input-text.qty.text{
 	padding: 11px 20px 19px 20px;
 }


table.shop_attributes tbody tr:last-child th{
	border-radius: 0 0 0 25px;
}

table.shop_attributes tbody tr:last-child td{
	border-radius: 0  0 25px 0; 
}

.single-product.single  table.shop_attributes  tbody tr:nth-child(odd) th{
	border: 0 !important;
	border-right: 	1px solid #edeff1 !important;
}

.single-product.single table.shop_attributes tr:nth-child(even) th{
	border: 0 ;
	border-right: 1px solid #fff;
}



@media screen and (min-width: 970px){
	.single-product .site-main ul.products.columns-4 li.product {
		width: 22.05% !important;
	}

}
@media screen and (min-width: 970px) {

	.page-template-template-fullwidth-php .site-main ul.products.columns-3 li.product, 
	.page-template-template-homepage-php .site-main ul.products.columns-3 li.product,
	.storefront-full-width-content .site-main ul.products.columns-3 li.product, 
	.site-main ul.products.columns-3 li.product, 
	.site-main .reset ul.products li.product, 
	.site-main ul.products.columns-4 li.product{
		width: calc(1/3*99.9% - (1 - 1/6)*36px) !important;
	}

	
	





}
