<span style='color: #000' title='Frames'>   247</span><span style='color: #009' title='Memory'>  82432.00 KB</span><span style='color: #900' title='Time'>   1134.05 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />