/*
	Theme Name: Lipoplash
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font: 300 16px/1.8 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#fff;
	background: url('img/site-background.jpg') no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 40px 0;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
    width:360px;
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*
 * FONTS
 */
@font-face {
	font-family: 'NunitoSans-Regular';
	src: url('fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/NunitoSans-Regular.woff') format('woff'), 
		 url('fonts/NunitoSans-Regular.ttf')  format('truetype'), 
		 url('fonts/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NunitoSans-SemiBold';
	src: url('fonts/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/NunitoSans-SemiBold.woff') format('woff'), 
		 url('fonts/NunitoSans-SemiBold.ttf')  format('truetype'), 
		 url('fonts/NunitoSans-SemiBold.svg#NunitoSans-SemiBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NunitoSans-Bold';
	src: url('fonts/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/NunitoSans-Bold.woff') format('woff'), 
		 url('fonts/NunitoSans-Bold.ttf')  format('truetype'), 
		 url('fonts/NunitoSans-Bold.svg#NunitoSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'FuturaStd-Medium';
  src: url('fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),  
	   url('fonts/FuturaStd-Medium.woff') format('woff'), 
	   url('fonts/FuturaStd-Medium.ttf')  format('truetype'), 
	   url('fonts/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1140px;
	width:100%;
	margin:0 auto;
	position:relative;
	padding: 0 15px;
}

.gradient,
.btn {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006ab5+0,00b8ee+50,006ab5+100 */
	background: rgb(0,106,181); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,106,181,1) 0%, rgba(0,184,238,1) 50%, rgba(0,106,181,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,106,181,1) 0%,rgba(0,184,238,1) 50%,rgba(0,106,181,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,106,181,1) 0%,rgba(0,184,238,1) 50%,rgba(0,106,181,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ab5', endColorstr='#006ab5',GradientType=1 ); /* IE6-9 */
}

.gradient-text,
.gradient-icon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text {
	display: inline-block;
	font-size: 18px;
	font-family: 'NunitoSans-Bold';
	text-transform: uppercase;
}

.btn {
	padding: 15px 13px;
	display: table;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'NunitoSans-Bold';
	position: relative;
	line-height: 1;
	text-transform: uppercase;
}


.btn::before{
	content: "\f182";
	font-size: 18px;
	margin-right: 7px;
	display: inline-block;
	vertical-align: middle;
}

.box-shadow {
	-webkit-box-shadow: 0px 3px 10px 0px rgba(34,34,34,0.28);
	-moz-box-shadow: 0px 3px 10px 0px rgba(34,34,34,0.28);
	box-shadow: 0px 3px 10px 0px rgba(34,34,34,0.28);
}

.boxs-hover:hover {
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,106,181,0.42);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,106,181,0.42);
	box-shadow: 0px 3px 10px 0px rgba(0,106,181,0.42);
}

input,
textarea {
	display: block;
	width: 100%;
	border: 1px solid #d6d7d7;
	padding: 15px 20px;
	border-radius: 50px;
}

textarea {
	border-radius: 20px;
}

.form-group:not(:last-of-type) {
	margin-bottom: 15px;
}

/* header */
.header {

}
/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav {

}
/* sidebar */
.sidebar {

}
/* footer */
.footer {

}

/*------------------------------------*\
    PAGES
\*------------------------------------*/

.splash-contain {
	text-align: center;
}

.left p.coming-soon {
    font-family: 'NunitoSans-Bold';
    font-size: 23px;
    text-transform: uppercase;
    line-height: 1.2;
}

#countdown div {
    background: #fff;
    display: inline-block;
    margin-right: 8px;
    padding: 10px;
    border-radius: 15px;
}

#countdown div:last-child {
    margin-right: 0;
}

#countdown div span {
    color: #222;
    font-family: 'NunitoSans-SemiBold';
    font-size: 14px;
    margin: 0;
}

#countdown div .time {
    display: block;
    font-size: 32px;
    line-height: 1;
    font-family: 'NunitoSans-Bold';
}

.left p {
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'NunitoSans-SemiBold';
}


.right {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 30px 15px;
    max-width: 422px;
    margin: 15px auto 0;
}

.right .gradient-text {
    margin: 0;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 40px;
}

.social-icons li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.social-icons li:last-child {
	margin-right: 0;
}

.social-icons a {
	display: block;
	padding: 10px;
}

.social-icons a span {
    background: url('img/social-icons-2.png') no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}

.social-icons a.twitter span {
	background-position: -23px 100%;
}

.social-icons a.instagram span {
	background-position: -47px 100%;
}

.social-icons a.youtube span {
	background-position: -71px 100%;
}

.social-icons a.linkedin span {
	background-position: -95px 100%;
}

.social-icons a.vimeo span {
   background-position: -119px 100%;
}

.social-icons a.googleplus span{
    background-position: 100% 100%;
}
/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
    4o4 page
\*------------------------------------*/

/* 404 PAGE */




#post-404{
	margin: 30px 0;
}


.error404 .logo{
	text-align: center;
	margin: 98px 0 0;
}

.error404 .social-icons{
	text-align: center;
	margin: 40px 0 0;
	position: relative;
	bottom: 0;
}
.error-404{
	padding: 0;
	margin:  0;
	font-family: 'FuturaStd-Medium';
	position: relative;
	z-index: 2;
}
.error-404 h1{
    font-size: 260px;
    padding: 0;
    margin: 0;
    line-height: 1;
    display: block;
    font-family: 'FuturaStd-Medium';
    text-align: right;
    font-weight: normal;
}

.error-404 .page-content{
    padding: 84px  54px;
    background: rgba(255,255,255,0.9);
    border-radius: 50px;
}

.error-404 .column-2{
    width: 50%;
    display: inline-block;
}

.error-404 .column-2:first-child{
    padding-right: 50px;
}

.error-404 .column-2.last{
	padding-left: 50px;
	float: 	right;
}

.error-404 h2{
    font-size: 43px;
    text-transform: uppercase;
    margin-bottom: 13px;
    font-family: 'FuturaStd-Medium';
    margin: 0;
}

.powered-by{
	text-align: center;
	margin-bottom: 50px;
}
 ul.link-info{
    text-align: center;
    list-style: none;
    padding: 0;
}

ul.link-info li {
    display: inline-block;
}

ul.link-info li:not(:last-child)::after {
    content: "|";
    padding: 10px;
}

body.error404 .overlay{
	background-color: rgba(1,1,1,0.5);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.error-404 a{
	display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    padding: 16px 24px;
    font-family: 'FuturaStd-Medium';
    border-radius: 50px;
    letter-spacing: 2px;
}
.error-404 p{
	font-size: 24px;
	color: 	#222;
	font-family: 'FuturaStd-Medium';
	margin-top: 0;
}

.error-404 a:first-child{
	margin-right: 15px;
}

.clear-fix{
	clear: 	both;
}
.btn.btn-outline {
	color: #006ab5;
	border: 1px solid #006ab5;
	background: white;
}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/


@media screen and (max-width: 1170px){
	
	.error-404 h1{
		text-align: center;
	}
	.error-404 .column-2.last ,
	.error-404 .column-2:first-child{
		padding: 0;
		width: 100%;
		display: block;
		float: 	none;
		text-align: center;
	}
		


}

@media screen and (max-width: 540px) {
	
	.error-404 h1{
		font-size: 175px;
	}

	.error-404 .footer{
		display: flex;
	}

}

@media only screen and (min-width:320px) {

}

@media only screen and (min-width:480px) {

	.left p.coming-soon {
		margin: 24px auto;
		font-size: 34px;
	}

	#countdown div {
		width: 97px;
		padding: 22px 18px;
		line-height: 1;
	}

	#countdown div .time {
		font-size: 42px;
		line-height: 1;
	}

	#countdown div span {
		font-size: 16px;
	}

	.left p {
		max-width: 460px;
		margin: 15px auto;
		font-size: 18px;
	}

}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:970px) {

	body {
		padding: 0;
	}

	.splash-contain,
	.splash-contain > div > div {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.splash-contain {
		height: 100vh;
		padding: 60px 0;
	}

	#countdown div {
		margin-right: 30px;
	}

	.splash-contain > div {
		position: relative;
		margin: auto;
		padding-bottom: 60px;
	}

	.splash-contain > div > div {
		justify-content: space-between;
		-ms-align-items: center;
		align-items: center;
	}

	.left p.coming-soon {
		margin: 40px auto;
		font-size: 37px;
	}

	.left p {
		margin-top: 30px;
		margin-bottom: 0;
		line-height: 2.3;
		position: relative;
	}

	.left p.has-arrow:after {
		content:'';
		background: url('img/arrows.png') no-repeat top left;
		display: inline-block;
		width: 18px;
		height: 14px;
		margin-left: 10px;
	}

	.right {
		padding: 40px 30px;
		margin-top: 0;
		margin-left: 60px;
	}

	.right .gradient-text {
		font-size: 32px;
	}

	.social-icons {
		position: absolute;
	    bottom: -40px;
	    left: 0;
	    right: 0;
	}
	


}

@media only screen and (max-width:970px) {
	.splash-contain {
		height: 100% !important;
	}
	.error-404 .column-2.last{
		padding-right: 20px;
	}
	.error-404 .column-2:first-child{
		padding-left: 20px;
	}

	.error-404 .page-content{
		padding: 75px 0;
	}
}

@media only screen and (min-width:1024px) {

}

@media only screen and (min-width:1140px) {
	
	.left p.coming-soon {
		margin: 50px auto;
		font-size: 42px;
		min-width: 530px;
	}

	.left p {
		margin-top: 47px;
	}

	.right {
		padding-top: 60px;
		padding-bottom: 60px;
		width: 422px;
	}

}

@media only screen and (min-width:1280px) {

}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

p.contact-info{
    margin-top:0 !important;
    text-transform :unset;
    color:#fff;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}

/*
font-family: 'NunitoSans-Regular';
font-family: 'NunitoSans-SemiBold';
font-family: 'NunitoSans-Bold';
*/

html.js {
	margin-top: 0 !important;
}